{% block header %}

    <style>
    .split-para      { display:block;margin:10px 10px 0px 10px;}
    .split-para span { display:block;float:right;}
    </style>
<div id="header">
    <div class="logo-container">
        <a href="/">
            {%  load static %}
            <img class="logo" src='{% static "logo.png" %}'>
        </a>
    </div>
</div>
{% endblock %}
<div>
{% if user.is_authenticated %}
    <h3 class="split-para">Witaj {{ user.first_name }} {{ user.last_name }}

    <span>
    <a href={% url 'logout' %}>Wylogowanie</a>

    {% if user.is_staff %}
        | <a href={% url 'admin:index' %}>Strona Adminstratora</a>
    {% endif %}
    </span>
    </h3>
{% else %}
    <div style="text-align: right;margin-right: 10px">
    <a href={% url 'login' %}>Login</a>
    <a href={% url 'register' %}>Register</a>
    </div>
{% endif %}
</div>

