{% block header %}

    <style>
    .split-para      { display:block;margin:10px 10px 0px 10px;}
    .split-para span { display:block;float:right;}


    </style>
<div id="header">
    <div class="logo-container">
        <a href="{% url 'home' %}">
            {%  load static %}
            <img class="logo" src='{% static "logo.png" %}'>
        </a>
    </div>
</div>
{% endblock %}
<div>
    <h3><a href="{% url 'home' %}">Home</a></h3>
    <h3><a href="{% url 'wyniki' %}">Wyniki</a></h3>
{% if user.is_authenticated %}
    {% if user.is_staff %}
        <h3><a>zarządzaj kondydatami</a></h3>
        <h3><a>zarządzaj uprawnionymi</a></h3>
        <h3><a>Zarządzaj wyborami</a></h3>
    {% endif %}
    <h3 class="split-para">Witaj {{ user.first_name }} {{ user.last_name }}

    <span>
    <a href={% url 'logout' %}>Wylogowanie</a>

    {% if user.is_superuser %}
        | <a href={% url 'admin:index' %}>Strona Adminstratora</a>
    {% endif %}
    </span>
    </h3>
{% else %}
    <div style="text-align: right;margin-right: 10px;">
        <h3>
            <a href={% url 'login' %}>Login</a>
            <a href={% url 'register' %}>Register</a>
        </h3>
    </div>
{% endif %}
</div>

