{% extends 'main.html' %}


{% block content %}
    <style>
.home-container1{
    display: grid;
    background-color: #f08a37;
}
.buttonReg {
  background-color: darkgray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;width: 250px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonReg:hover {
      background-color: #ba783d;
      transition: 0.3s;
  }

.buttonReg1 {background-color: #EBB254;} /* dark blue */
    </style>


    <div class="home-container1">
    <h3 style="color:white;text-align:center;">Dodajesz wybory</h3>
    </div>
<div  style="margin: 20px">
    <form method="post" action="">

    {% csrf_token %}

    {{ form.as_p }}
    <button type="submit" class="buttonReg buttonREg1">Zapisz</button>

    </form>
</div>
{% endblock %}



