{% extends 'main.html' %}

{% block content %}

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

    <div class="home-container">
        <div>
            <h3>Wybory:</h3>

            <div>
                <a href="{% url 'home' %}?q={{ typ.typ }}">Wszystkie</a>
            </div>

            {% for typ in typy %}
                <div>
                    <a href="{% url 'home' %}?q={{ typ.typ }}">{{ typ.typ }}</a>
                </div>
            {% endfor %}
        </div>

        <div>
            {% for wybor in wybory %}
                <div>
                    <h5>{{ wybor.id }} --
                        <a {% if user.is_authenticated and not wybor.CzyZaglosowal%} href="/wybory/{{ wybor.id }} {% endif %}">
                            {{ wybor.id_wyborow.nazwa }}
                        </a>
                        {% if wybor.CzyZaglosowal %}
                            (Oddano głos)
                        {% endif %}

                    </h5>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
