{% extends 'main.html' %}


{% block content %}
<style>
    .home-container1{
    display: grid;
    background-color: #f08a37;
}

    .home-container2{
    display: grid;
        grid-template-columns: 1fr 2fr;
}
    </style>
    <div class="home-container1">
    <h3 style="color:white;text-align:center;">Wyniki Wyborów: {{ nazwa_wyborow }}</h3>
    </div>

    <div style="margin: 20px 20px 20px 20px">
    {% for kandydat in kandydaci %}
        <div class="home-container2"><h3>{{ kandydat.pesel.first_name }} {{ kandydat.pesel.last_name }} </h3> <h3>Ilość głosów: {{ kandydat.poparcie }}</h3>
        </div>

    {% endfor %}
    <br>
    <h2>Frekwencja</h2>
    <h3>Ilość osób uprawnionych: {{ ilosc_uprawnionych }}</h3>
    <h3>Ilość oddanych głosów: {{ ilosc_oddanych_glosow }} ({{ ilosc_oddanych_glosow_procent }}%)</h3>
    <h3>Ilość nieoddanych głosów: {{ ilosc_nieoddanych_glosow }} ({{ ilosc_nieoddanych_glosow_procent }}%)</h3>
    <form method="get" action="{% url "konkretne_wyniki_pdf" pk %}">
        <button type="submit">Generuj raport</button>
    </form>
    </div>

{% endblock %}
