<div>
    <form method="post" action="">
        {% csrf_token %}
        <p>Wybierz swojego kandydata:</p>

        {% for kandydat in kandydaci %}

            <input type="radio" id="{{ kandydat }}" name="kandydat" value={{ kandydat }}>
            <label for="html"> {{ kandydat.pesel.first_name }} {{ kandydat.pesel.last_name }} </label><br>

        {% endfor %}
        <br>
        {% if kandydaci.isNotNull %}
            <input type="submit" value="Potwierdzam">
        {% endif %} 

    </form>
</div>
