   <style>
    .buttonVote {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
        width: 19.71%;
      margin: 0px 0px 0px 0px;
      cursor: pointer;
    background-color: #EBB254;
    }
    .buttonnav:hover {
          background-color: #ba783d;
          transition: 0.3s;
      }


    .selected {
          background-color: #a66c43;
      }
    </style>


<div style="margin: 20px 20px 20px 20px">
    {% if valid  %}
        <form method="post" action="">
            {% csrf_token %}
            <p>Wybierz swojego kandydata:</p>

            {% for kandydat in kandydaci %}

                <input type="radio" id="{{ kandydat }}" name="kandydat" value={{ kandydat }}>
                <label for="html"> {{ kandydat.pesel.first_name }} {{ kandydat.pesel.last_name }} </label><br>

            {% endfor %}

            <br>

            <input class="buttonVote" type="submit" value="Potwierdzam">


        </form>

    {% else %}

        <h3>Już zagłosowałeś w tych wyborach lub nie masz do nich uprawnień. Wróć na stronę główną <a href="{% url 'home' %}">tutaj</a> </h3>

    {% endif %}
</div>
